*{
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px ;
    padding: 20px 0px;
    
}
.nav-tittle{
    color: #181818;
    font-size: 50px ;
    font-weight:800 ;
}
.text-primary{
    color:#FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: grey;

}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 35px;
    color: white;
}
header{
   background-color:#FFF8F3;
   background-image:url('../images/header_bg.png');
background-repeat: no-repeat;
background-position: bottom right;
}

.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-image{
    height: 584px;
    width:500px ;
    /* margin-bottom: 0px; */
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 7px;
}
.banner-discription{
    margin: 5px 10px 10px ;
    width: 70%;
}
.about{
    padding: 131px;
    border-radius: 10px;
background: #FFF8F3;
margin: 130px 0;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
}
.section-discription{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: grey;
    margin-top: 5px;
}
.about-info-container{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;


}
.info-description{
    margin-top:7px;
}
#turjo{
    margin:30px 150px;
}
.skills-container{
    display: flex;
    justify-content: space-between;
  
}

.skill{
    padding: 30px;
    gap:44px;
    box-shadow: 4px 4px 7px grey;
    /* width: 150px; */
    /* height: 231px; */
    margin-bottom: 100px;
}
.resume-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.resume-colum-title{
    margin-bottom: 20px;

}
.btn-cv{
    text-align: center;
    margin:20px;
}
footer{
 
background-color:#FFF8F3;

}

.social-link{
    margin: 0px 20px;
     
}
.footer-container{
    padding:130px 80px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.footer-colum{
     width: 50%;  
}
.contact, input,textarea{
    display:block;
    /* text-align: center; */
    margin-bottom: 24px;
    padding:18px 35px;
    font-size: 20px;
    border: none;
    color: grey;
    border-radius: 5px;

}
.contact input[type="text"] ,.contact input[type="email"] {
    width: 100%;
}